{% include 'header.html' %}
    <div style="padding: 2rem; max-width: 800px; margin: 0 auto;">
        <h1>Welcome to My Flask App</h1>
        <p>This is a simple Flask application demonstrating the use of Jinja templates.</p>
        <ul>
            <li>Flask - A lightweight WSGI web application framework</li>
            <li>HTML - The standard markup language for creating web pages</li>
            <li>Jinja Templates - A fast, expressive, extensible templating engine</li>
        </ul>
    </div>
{% include 'footer.html' %} 